.title {
  display: flex;
  padding: 20px;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.title-heading {
  flex: 1;
  margin-left: 100px;
  margin-right: 100px;
}
.title-r {
  margin: 20px;
}

.title-heading h2 {
  color: black;
  text-align: center;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.title-heading p {
  text-align: center;
}
.title-r h2 {
  font-size: 40px;
  font-weight: bold;
  color: black;
}
.title-r button {
  background-color: #f25a23;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 20px;
  align-items: center;
  border-style: none;
  border-radius: 8px;
}
.title p {
  text-align: start;
  padding: 20px;
  font-size: large;
  color: #6c756c;
}

.title-image,
#i1 {
  flex: 0 0 50%; /* Take up 50% of the available space, don't grow, don't shrink */
  padding: 80px;
  margin-top: -120px;
  /* transition: background 0.5s, transform 0.5s; */
  transition-timing-function: ease-in;
  transition-delay: 2s;
}

img {
  max-width: 60%; /* Make sure the image doesn't overflow its container */
  height: auto;
  display: block; /* Remove extra space under the image */
}
