* {
  margin: 0px;
  padding: 0px;
}

.review-container {
  background-color: #f5f6f7;
  color: black;
  display: flex;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.review-headpage {
  margin: 50px 100px 20px 0px;
  flex: 1; /* Take up all available space in the flex container */
  padding: 20px;
}
.review-headpage h1 {
  font-weight: bold;
  font-size: 60px;
}

.review-image {
  /* margin: 20px 200px 20px 100px; */

  flex: 0 0 50%; /* Take up 50% of the available space, don't grow, don't shrink */
  padding: 60px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

img {
  padding: 20px;
  margin-top: 0px;
  max-width: 100%; /* Make sure the image doesn't overflow its container */
  height: auto;
  display: block; /* Remove extra space under the image */
}
.review-para p {
  color: #878e97;
}
.vendor-img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}

.btn-2 {
  width: 100%;
  position: relative;
}
.btn-2 input {
  padding: 10px;
}
.btn-2 button {
  margin: -20;
  height: 85%;
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  border-radius: 8px;
}
.review-c {
  background-color: white;
  color: rgb(48, 46, 46);
  margin: 10px;
}
.review-c p {
  margin: 0px 20px 0px 30px;
  padding: 10px;
}
.review-star img {
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
}
.profile {
  display: flex;
}
.profile-p {
  margin: -5px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.profile-img img {
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 50%;
}
