* {
  margin: 0px;
  padding: 0px;
}
.store {
  width: 100%;
  background-color: #ffff;
}
.feature-r {
  margin-left: 100px;
  margin-right: 100px;
}
.feature-head h2 {
  color: black;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding: 30px;
}

/* src/Card.css */
.feature-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  box-shadow: #555;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}
.feature-head p {
  text-align: center;
}

.card-img {
  display: flex;
  flex-direction: 0 0 33%;
  font-size: 36px;
  margin-bottom: 16px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.card-description {
  color: #555;
}
